html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  body {
    font-family: 'Mukta', sans-serif;
    background-color: rgb(53, 53, 53);
    color: white;
  }

  p {
    font: white;
    font-size: 22px;
  }

  header {
    margin: 3rem 48rem;
    padding: 0.5rem;
    border: solid 2px gray;
    border-radius: 20rem;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  header:hover{
    background-color: brown;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 12rem;
  }

  p {
    margin: 0 0 1rem;
  }

  .intro-container {
    align-items: center;
  }

  #intro  {
    text-align: center;
  }

  .line-separator {
    width: 20%;
    height: 10%;
    border: gray solid 1px;
    margin: 0 0 2rem;
  }

  .calculator-container {
    width: 20rem;
    height: 27rem;
    border: gray solid 1px;
    padding: 1rem;
    border-radius: 1rem;
  }

  .result-container {
    width: 18rem;
    height: 5.5rem;
    background-color:#f0f0f0;
    color: gray;
    border: solid black 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 5.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
  }

  .result-container span {
    font-size: 2rem;
  }


.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem;
  }

input  {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0.7rem;
    margin:  0 0 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 20px;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

  .operator-container {
    margin-bottom: 2rem;
  }

  button {
    height: 3rem;
    width: 3rem;
    background-color: brown;
    border-radius: 2rem;
    border: none;
    font-size: 2rem;
    margin: 0 0.5rem 0;
    align-content: center;
  }
  button:hover {
    cursor: pointer;
    background-color: black;
    color: white;

  }

  .plusminus-container {
    display: flex;
    justify-content:space-between;
    margin-bottom: 1rem;
  }

  #plus, #minus {
    width: 50%;
  }

  .specialoperator-container {
    display: flex;
    justify-content:space-between;
    margin-bottom: 1rem;
  }

  #multiplication, #division, #modulo {
    width: 33%;

  }

  #plus, #multiplication {
    margin-left: 2rem;
  }
  #minus, #modulo {
    margin-right: 2rem;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

